@import "../layout/common.scss";
@import "../layout/header.scss";
@import "../layout/footer.scss";
@import "../widget/breadcrumb.scss";
@import "../widget/page.scss";
@import "../Widget/aProduct.scss";
.subject{
	.sub-ul{
		border-top: 1px solid #eee;
		padding-top: 10px; 
	}
	.sub-h1{    
		font-size: 16px;
		padding-bottom: 14px;
		text-transform: uppercase;
	}
	.ul-li{
		margin-bottom: 14px;
		font-size: 13px;
		color: #808080;
		text-transform: capitalize;
		span{
			display: inline-block;
			vertical-align: -3px;
		}
	}
	.ul-li-ul{
		display: inline-block;
		vertical-align: text;
		width: 88%;
		li{
			float: left;
			padding: 6px 11px;
			cursor: pointer;
			font-size: 12px;
			color: #999;
			&:hover{
				background: #bfbfbf;
				color: #fff;
			}
		}	
	}
	.sub-sort{
		border-top: 1px solid #eee; 
		border-bottom: 1px solid #eee; 
		span{
			font-size: 13px;
			font-weight: bold;
		}
		.paixu{
			display: inline-block;
			position: relative;
			&:hover{
				.paixu-a{
					border-color: #333;
				}
				.pop{
					display: block;
					border-color: #333;
				}
			}
			.paixu-a{
				display: inline-block;
				font-size: 13px;
				text-transform: uppercase;
				margin-left: 5px;
				padding: 13px;
				border: 1px solid transparent;
				width: 180px;
				border-bottom: none;
				.iconfont{
					margin-left: 5px;
				}
			}
			.pop{
				padding: 8px 0;
				position: absolute;
				z-index: 99;
				top: 41px;
				left: 5px;
				border: 1px solid transparent;
				width: 180px;
				border-top: none;
				background: #fff;
				display: none;
				a{
					display: block;
					padding: 8px 12px;
					font-size: 13px;
					text-transform: uppercase;
					&:hover{
						background: #999;
						color: #fff;
					}
				}
			}
		}
		.liebiao{
			display: inline-block;
			float: right;
			margin-top: 13px;
			li{
				float: left;
				margin-left: 20px;
			}
			.iconfont{
				font-size: 18px;
				&.active{
					color: $color;
				}
			}
		}
	}
}
.sub-li{
	margin-top: 37px;
}
.sub-li-heng{
	//display: none;
	margin-top: 17px;
	>li{
		padding: 20px 0;
		border-bottom: 1px solid #eee;
	}
	.heng-img{
		float: left;
		width: 220px;
		height: 220px;
		img{
			width: 100%;
		}
	}	
	.heng-div{
		float: right;
		display: inline-block;
		width: 960px;
		margin-left: 16px;
	}
	.biaoti{
		display: block;
		margin-top:5px;
		font-size: 18px;
		line-height: 30px;
		letter-spacing: 1px;
		color: #666;
		&:hover{
			color: #333;
		}
	}
	.r-pf{
		margin-top: 10px;
		margin-bottom: 40px;
		color: $color;
		.shuzi{
			font-size: 18px;
			margin-left: 13px;
			vertical-align: -8px;
		}
		ul{
			display: inline-block;
			vertical-align: -2px;
		}
		li{
			float: left;
		}
		i{
			font-size: 18px;
		}
		.icon-kuaidi{
			margin-left: 45px;
			margin-right: 10px;
		}
		.free{
			font-size: 16px;
		}
	}
	.r-price{
		.ori{
			font-size: 28px;
			color: #333;
		}
		.text-heng{
			font-size: 16px;
			margin: 0 21px 0 16px;
		}
		.off{
			font-size: 20px;
			color: #333;
		}
	}
	.h-sc{
		margin-top: 23px;
		.iconfont{
			display: inline-block;
			font-size: 24px;
			transition: transform  300ms ease;
			margin-right: 5px;
			vertical-align: -3px;
			&.icon-shixin{
				color: $color;
			}
		}
		span{
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}
.miaoshu{
	text-align: center;
	margin-top: 40px;
	padding:  55px 0 64px 0;
	border-top: 1px solid #eee;
	img{
		display: block;
		margin: 0 auto 20px;
	}
	p{
		line-height: 22px;
		color: #888;
	}
}
